$small: 300px;
$medium: 992px;

.display-form, .display-form-edit{
    width: 20rem;
    height: 20rem;
    position: absolute;
    font-family: 'Varela Round', sans-serif;
    background: -webkit-linear-gradient(45deg,#4159d0,#c850c0);
    background: -o-linear-gradient(45deg,#4159d0,#c850c0);
    background: -moz-linear-gradient(45deg,#4159d0,#c850c0);
    background: linear-gradient(45deg,#4159d0,#c850c0);
    border-radius: 25px;
    right: 2rem;
    transition: opacity 500ms;
    visibility: visible;
    opacity: 1;
    color: #fff;
    z-index: 1;
  
    .title-container{
      background-color: #36304a;
      width: 100%;
      height: 3rem;
      border-radius: 25px 25px 0px 0px;
  
      h2{
        margin: 0rem auto;
        display: block;
        width: 14.5rem;
        padding: 0.5rem 0;
        font-family: 'Varela Round', sans-serif;
      }
    }
  
  
    form{
      margin: 0 auto;
      width: 14.5rem;
      padding: 2.25rem 1rem;
  
      label{
        margin: 0rem;
      }
  
      input{
        margin: 0.2rem 0 1rem 0;
      }
    }

    @media screen and (max-width: $small) {

    }
    @media screen and (max-width: $medium) {
      position: fixed;
    }
  }
  
  .display-form{
    top: 6rem;
  }
  
  .hide-form{
    visibility: hidden;
    opacity: 0;
    position: absolute;
  }